@font-face {
  font-family: ric;
  src: url("../font/GemunuLibre-VariableFont_wght.ttf");
}
body{
  font-family: ric;
}
.navbar { 
  background-color: #A9DFBF;
  padding-left: 10%;
}
.quemsomos{
  background-color: #BFC9CA;
  color: white;
}
.padding{
  padding-top: 50px;
  padding-bottom: 30px;
}
.parceiros{
  background-color: #F7DC6F;

}
.bg-footer{
  background-color: black;
  color: white;
}